@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = null;
}

@{
    Layout = "~/Views/Shared/JBlayout.cshtml";

}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<html>
<body>
    <div>
        <h5>
            The New Zealand Breakers Basketball Academy is designed to provide youth with the best opportunity to achieve their long-term basketball goals.
            The programme is executed and overseen by Sky Sport Breakers Director of Player Development Rashid Al-Kaleem, ensuring top quality basketball expertise to guide young athletes.
        </h5>

        <h5>
            <a href="@Url.Action("Create","Home")" class="w3-bar-item w3-button w3-wide">Registrations for our 10-week Term 4 Breakers Academy programme are open now.</a>

        </h5>

        <h5>
            Years 6-8 - $720 - (60min sessions)
        </h5>

        <ul>
            <li>
                Tuesday 7.30-8.30pm
            </li>
            <li>
                Wednesday 7.30-8.30pm
            </li>
            <li>
                Saturday 3.30-4.30pm
            </li>
        </ul>

        <h5>
            Years 9-13 - $810 - (90min sessions)
        </h5>

        <ul>
            <li>
                Monday 6.30-8.00am
            </li>
            <li>
                Wednesday 6.30-8.00am
            </li>
            <li>
                Saturday 2.00-3.30pm
            </li>
        </ul>

        <h5>
            Three trainings per week and open to all abilities and both boys and girls, the small group setting (max 12) creates an ideal incubator for
            young talent and allows for individual feedback and assessment from our top-level coaches, while tracking player development throughout the programme.
            Most importantly, the Development Academy offers the opportunity for progression.
        </h5>

        <h5>
            Please email gobreakers@nzbreakers.co.nz for more information.

        </h5>

        <h5>
            Elite Academy powered by AUT
            <br />
            <br />
            The 5 and 10-week programmes are ‘invite-only’ and potential players are identified through the Development Academy and by visiting schools and junior games,
            as well as talking to people within the basketball community. Trainings are divided into male and females Years 9-10 and Years 11-13, and consist of three sessions per week.
        </h5>

        <h5>

            The high-intensity training with focus on ball handling, shooting, defense, passing, one-on-one and game situations helps players reach their full potential.
            The rigorous training sessions teaches them the skills, work-ethic and dedication required to become a professional basketball player and opens up the following pathways:
            <br />
            Youth Academy – Elite Academy – Development Player – Breakers Player
            <br />
            Youth Academy – Elite Academy – US College
        </h5>

        <h5>
            To enquire about the Development or Elite Academy please contact rashid@nzbreakers.co.nz.
        </h5>

    </div>
    
</body>
</html>

