@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = null;
}

@{
    Layout = "~/Views/Shared/MerchLayout.cshtml";

}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
</style>

<html>
<body>
    <div class="text-center">
        <h1>ADULTS 2020-21 COLLECTION</h1>
        <h5>
            The 2020-21 season is right around the corner! 
            As we prepare for the craziest season to date, 
            support your Sky Sport Breakers in style!
        </h5>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <img src="~/Images/tanktop.png" height="250" width="200" class="img" alt="Responsive image" />
                    <div>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="col">
                     <img src="~/Images/hoodie.png" height="250" width="350" class="img" alt="Responsive image" />
                </th>
            </tr>
            <tr>
                <th scope="col">
                     <img src="~/Images/t-shirt.png" height="250" width="250" class="img" alt="Responsive image">
                </th>
            </tr>
            <tr>
            </tr>
        </thead>
    </table>
</body>
</html>