@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<html>
<body>
    <div>
        <h1> Coaches and Support Staff </h1>
        <div>
            <h4> Head Coach </h4>
            <h5> Dan Shamir </h5>
        </div>
        <div>
            <h4> Chief Assistant Coach </h4>
            <h5> Mody Maor </h5>
        </div>
        <div>
            <h4> Assistant Coach </h4>
            <h5> Chanel Pompallier </h5>
        </div>
        <div>
            <h4> Assistant Coach & Director of Player Development </h4>
            <h5> Rashid Al-Kaleem </h5>
        </div>
        <div>
            <h4> Strength & Conditioning </h4>
            <h5> Emily Nolan </h5>
        </div>
        <div>
            <h4> Physiotherapist </h4>
            <h5> Sharon Choie </h5>
        </div>
    </div>
</body>
</html>


