@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<STYLE>
    h1 {
        font-size: 150px;
    }
</STYLE>
<html>
<body>
    <br />
    <div> <h1> #UNBREAKABLE</h1></div>
    <h2> Latest videos</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/z7iOmaz4ZrM" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/pBZky-m4Oj8" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/kFxoYcpwdnI" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>
                </th>
            </tr>
        </thead>
        </table>
        
        <script>
            // Modal Image Gallery
            function onClick(element) {
                document.getElementById("img01").src = element.src;
                document.getElementById("modal01").style.display = "block";
                var captionText = document.getElementById("caption");
                captionText.innerHTML = element.alt;
            }


            // Toggle between showing and hiding the sidebar when clicking the menu icon
            var mySidebar = document.getElementById("mySidebar");

            function w3_open() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                } else {
                    mySidebar.style.display = 'block';
                }
            }

            // Close the sidebar with the close button
            function w3_close() {
                mySidebar.style.display = "none";
            }
        </script>

</body>
</html>
