@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<STYLE>
    h1 {
        font-size: 190px;
        font: Proxima Nova;
    }

    h2 {
        font-size: 40px;
        color: white;
        font: Proxima Nova;
    }
    /* Container holding the image and the text */
    .container {
        position: relative;
        text-align: center;
        color: black;
    }

    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



</STYLE>
<html>
<body>
    <br />
    <div> <h1> #UNBREAKABLE</h1></div>
    <h2> Latest videos</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/z7iOmaz4ZrM" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers vs Brisbane Bullets | NBL20 | 12 January 2020 | Full Time Highlights</h6>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/kFxoYcpwdnI" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers vs Illawarra Hawks | NBL20 | 2 February 2020 | Full Time Highlights</h6>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/pBZky-m4Oj8" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers vs South East Melbourne Phoenix | NBL20 | 14 February 2020 | Full Time Highlights</h6>
                </th>
            </tr>
        </thead>
    </table>
    <a href="@Url.Action("Videos","Home")">View More ></a>
    <br /><br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <div class="container">
                        <img src="~/Images/bb.jpg" alt="junior breaker" class="img-thumbnail">
                        <div class="centered">
                            <h2>
                                LATEST MERCH
                                <a href="@Url.Action("","Home")" class="w3-bar-item w3-button">BUY NOW</a>
                            </h2>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="container">
                        <img src="~/Images/bb.jpg" alt="junior breaker" class="img-thumbnail">
                        <div class="centered">
                            <h2>
                                MEMBERSHIP
                                <a href="@Url.Action("Membership","Home")" class="w3-bar-item w3-button">LEARN MORE</a>
                            </h2> 
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="container">
                        <img src="~/Images/bb.jpg" alt="junior breaker" class="img-thumbnail">
                        <div class="centered">
                            <h2>
                                JUNIOR BREAKERS
                                <a href="@Url.Action("","Home")" class="w3-bar-item w3-button">LEARN MORE</a>
                            </h2>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
    </table>
    


    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>
</html>
