@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = null;
}

@{
    Layout = "~/Views/Shared/JBlayout.cshtml";

}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<html>
<body>
    <h3>HOLIDAY CAMPS</h3>
    <h4>
        Bring the kids along to a fun-filled camp packed with skills, drills and of course basketball!  All participants receive a Junior Breakers Holiday Camp t-shirt.
        Our camps are suitable for kids with basketball skills of any level, but be in quick and secure your spot as they sell out every term. We are continuing to offer
        early drop off and late pick up options for our attendees - see below for more details! Please follow us on Facebook for live updates.
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <h3>Camp 1</h3>
                    <h5>Years 1-8 (2 Day)</h5>
                </th>
                <th scope="col">
                    <h6>
                        Monday 28 September - Tuesday 29 September
                        <br />
                        9.00am-2.30pm $105 (drop off from 8.45am)
                        <br />
                        Camp + Early drop off only (7.45am - 2.30pm) $125
                        <br /><br />
                        Camp + Late pick up only (9.00am - 3.45pm) $125
                        <br />
                        Camp + Early drop off & late pick up (7.45am - 3.45pm) $145
                    </h6>
                </th>
                <th scope="col">
                    <h1><a href="#" class="btn btn-primary">SOLD OUT</a></h1>
                </th>
            </tr>
            <tr>
                <th scope="col">
                    <h3>Camp 2</h3>
                    <h5>Years 1-8 (3 Day)</h5>
                </th>
                <th scope="col">
                    <h6>
                        Wednesday 30 September - Friday 2 October
                        <br />
                        9.00am-2.30pm $140 (drop off from 8.45am)
                        <br />
                        Camp + Early drop off only (7.45am - 2.30pm) $170
                        <br /><br />
                        Camp + Late pick up only (9.00am - 3.45pm) $170
                        <br />
                        Camp + Early drop off & late pick up (7.45am - 3.45pm) $200
                    </h6>
                </th>
                <th scope="col">
                    <h1><a href="#" class="btn btn-primary">SOLD OUT</a></h1>
                </th>
            </tr>
            <tr>
                <th scope="col">
                    <h3>Camp 3</h3>
                    <h5>Years 1-8 (2 Day)</h5>
                </th>
                <th scope="col">
                    <h6>
                        Monday 5 October - Tuesday 6 October
                        <br />
                        9.00am-2.30pm $105 (drop off from 8.45am)
                        <br />
                        Camp + Early drop off only (7.45am - 2.30pm) $125
                        <br /><br />
                        Camp + Late pick up only (9.00am - 3.45pm) $125
                        <br />
                        Camp + Early drop off & late pick up (7.45am - 3.45pm) $145
                    </h6>
                </th>
                <th scope="col">
                    <h1><a href="#" class="btn btn-primary">SOLD OUT</a></h1>
                </th>
            </tr>
            <tr>
                <th scope="col">
                    <h3>Camp 4 </h3>
                    <h5>Years 1-8 (3 Day)</h5>
                </th>
                <th scope="col">
                    <h6>
                        Wednesday 7 October - Friday 9 October
                        <br />
                        9.00am-2.30pm $140 (drop off from 8.45am)
                        <br />
                        Camp + Early drop off only (7.45am - 2.30pm) $170
                        <br /><br />
                        Camp + Late pick up only (9.00am - 3.45pm) $170
                        <br />
                        Camp + Early drop off & late pick up (7.45am - 3.45pm) $200
                    </h6>
                </th>
                <th scope="col">
                    <h1><a href="#" class="btn btn-primary">SOLD OUT</a></h1>
                </th>
            </tr>
        </thead>
    </table>
</body>
</html>