@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = null;
}

@{
    Layout = "~/Views/Shared/JBlayout.cshtml";

}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<html>
<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Images/bb.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">SLAM DUNK PACK</h5>
                            <p class="card-text">
                                BENEFITS INCLUDE:
                                <ul>
                                    <li>Pre-sale to JB programmes & holiday camps</li>

                                    <li>Discounted price on Saturday Skills</li>

                                    <li>FREE entry to Sunday's open gym</li>

                                    <li>One Adult + one Child ticket to a regular season Sky Sport Breakers game at Spark Arena of your choice</li>

                                    <li>JB's reversible singlet, shorts and bag</li>
                                </ul>
                            </p>
                            <p>From:</p>
                            <h3>$110</h3><a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Images/bb.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">FREE THROW PACK</h5>
                            <p class="card-text">
                                BENEFITS INCLUDE:
                                <ul>
                                    <li>Pre-sale to JB programmes & holiday camps</li>

                                    <li>Discounted price on Saturday Skills</li>

                                    <li>FREE entry to Sunday's open gym</li>

                                    <li>One Adult + one Child ticket to a regular season Sky Sport Breakers game at Spark Arena of your choice</li>

                                    <li>Junior Breakers cap</li>
                                </ul>
                            </p>
                            <p>From:</p>
                            <h3>$70</h3><a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Images/bb.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">SIXTH MAN PACK</h5>
                            <p class="card-text">
                                BENEFITS INCLUDE:
                                <ul>
                                    <li>Pre-sale to JB programmes & holiday camps</li>

                                    <li>Discounted price on Saturday Skills</li>

                                    <li>FREE entry to Sunday's open gym</li>

                                    <li>One Adult + one Child ticket to a regular season Sky Sport Breakers game at Spark Arena of your choice</li>

                                    <li>Junior Breakers basketball - SIZE 6 ONLY</li>
                                </ul>
                            </p>
                            <p>Annual fee per child:</p>
                            <h3>$60</h3><a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="card" style="width: 18rem;">
                        <img src="~/Images/bb.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">THREE POINT PACK</h5>
                            <p class="card-text">
                                <ul>
                                    <li>Pre-sale to JB programmes & holiday camps</li>

                                    <li>Discounted price on Saturday Skills</li>

                                    <li>FREE entry to Sunday's open gym</li>

                                    <li>One Adult + one Child ticket to a regular season Sky Sport Breakers game at Spark Arena of your choice</li>

                                    <li>Junior Breakers drink bottle</li>
                                </ul>
                            </p>
                            <p>Annual fee per child:</p>
                            <h3>$50</h3> <a href="#" class="btn btn-primary">SOLD OUT</a>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
    </table>
</body>
</html>