@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    /* Container holding the image and the text */
    .container {
        position: relative;
        text-align: center;
        color: black;
    }

    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        opacity: 0.25;
    }

</style>

<html>
<body>

    <div class="container">
        <img src="~/Images/spark.jpg" height="500" width="1050" class="img" alt="Responsive image">
        <div class="centered">
            <h6>
                Welcome to Breaker Nation, please sign in to access Membership details or Breaker
                Nation offers. if you do not have an account already, click 'Login/Register' and
                you will be given the option to create an account.
            </h6>
                <br />
             <h6>
                Breaker Nation Members recieve discounted tickets and great seats to their choosen
                Spark Arena regular season home games, exculsive special offers, and access to
                Member only events and discounts.
              </h6>
            <h3>2020-21 MEMBERSHIP COMING SOON!</h3>
        </div>
    </div>

</body>
</html>