@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        /* Container holding the image and the text */
        .container {
            position: relative;
            text-align: center;
            color: black;
        }

        /* Centered text */
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            opacity: 0.25;
        }
    </style>

    <html>
    <body>

        <div class="container">
            <img src="~/Images/spark.jpg" height="250" width="1050" class="img" alt="Responsive image">
            <div class="centered">
                <h5>
                    Your access to exclusive benifits and discounts await...
                </h5>
                <br />
                <h6>
                    Becoming a Member of the Sky Sport Breakers family means that you will recieve a number of
                    benifits including invitations to exclusive Member events, access to 2degree Member Lounge, 
                    updates with tythe latest news and special offers from our sponsers and patners.
                </h6>
            </div>
        </div>
        <div>
            <h3>Full Season Member Benifits 2019-20</h3>
            <ul>
                <li>Tickets to 10 regular season Spark Arena home games</li>
                <li>Discounts on additional game tickets</li>
                <li>First priority on tickets to Finals games</li>
                <li>Exclusive Member events</li>
                <li>Discounted merchandise</li>
                <li>Access to 2degrees Members Lounge at Spark Arena</li>
                <li>Priority queues at Spark Arena</li>
                <li>Special Member prices on select food items at Spark Arena</li>
                <li>2019-20 Membership pack</li>
                <li>Option to transfer Membership if unable to attend a game</li>
                <li> Membership newsletter for the latest news and updates</li>
                <li>Access to meet the team post-games at Spark Arena</li>
            </ul>

            <h3>Multi-Game Member Benefits 2019-20</h3>
            <ul>
                <li>Tickets to 4+ regular season Spark Arena home games</li>
                <li>Discounts on additional game tickets</li>
                <li>First priority on tickets to Finals games</li>
                <li>Exclusive Member events</li>
                <li>Discounted merchandise</li>
                <li>Access to 2degrees Members Lounge at Spark Arena</li>
                <li>Priority queues at Spark Arena</li>
                <li>Special Member prices on select food items at Spark Arena</li>
                <li>2019-20 Membership pack</li>
                <li>Option to transfer Membership if unable to attend a game</li>
                <li> Membership newsletter for the latest news and updates</li>
                <li>Access to meet the team post-games at Spark Arena</li>
            </ul>
        </div>
        
    </body>
</html>
