@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<html>
<body>
    <h4>TERMS AND CONDITIONS</h4>
    <h5>Please read carefully before purchasing Skysport Breakers membership</h5>
    <ol>
        <li>
            Member means a person who purchases a Membership from Breakers Basketball Limited; and who is entitled entry into Spark Arena
            if the person is the holder of that Membership; and who is recorded by Breakers Basketball Limited as having the right to
            exercise specific rights associated with the Membership (for example any right of renewal or priority (if any) that may be
            granted in respect of that Membership); and to whom any correspondence about the Membership will be addressed and Membership
            shall have a corresponding meaning.
        </li>
        <li>
            Membership means a ticket that admits a Member to 4 or more of the 10 2019-2020 regular season home games in the Australian
            NBL Championship held at Spark Arena.
        </li>
        <li>
            Membership does not include any games played during preseason, out of Auckland or Finals games.
        </li>
        <li>
            Any unused “game credits” from our Flexi Membership options cannot be used for games other than those played in the 2019-2020
            regular season. They cannot carry over to finals, preseason or 2020-2021 games.
        </li>
        <li>
            Breakers Basketball Limited may allow payment for Membership to be made in installments. Member agrees to pay the installments
            at the agreed payment frequency until all obligations have been met or until Membership is terminated under this contract.
            <ol style="list-style-type: lower-roman;"><li>Any failure to make an installment payment by the due date will incur a further
                $10 administration fee. All fees must be paid before the Membership will be issued.</li></ol>
        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
    </ol>
</body>
</html>