@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .design {
        font-size: 30px;
    }
</style>

<html>
<body>
    <div class="design">FREQUENTLY ASKED QUESTIONS</div>
    <ol>
        <li>
            Why Become a Member?<br />
            Being a member is more than just having a seat at the game; it’s about being a part of the Club.
            It’s about living and breathing the season with us, celebrating the good times with us and supporting us through the harder ones.
            You are our 6th man, at every home game cheering us on through every play.
        </li>
        <li>
            What benefits do I receive?<br />
            In addition to your reserved seat at each regular season home game at Spark Arena (10 in total), you are entitled to,
            you also receive first priority to book your playoff tickets! To see what other benefits you receive, please see the
            Memberships Benefits page.
        </li>
        <li>
            What are Flexi Memberships (previously Build Your Own Memberships)?<br />
            These are for fans that can’t commit to a Full Spark Arena Membership Package.
            If you know what games you would like to attend, Flexi Memberships allow you to select four or more games of your choice.
            If you would like to select games at a later date, the Flexi Membership offers you the choice of selecting your preferred games at a later date.
            Any unused “game credits” or games not attended, cannot be used for Playoff games or roll over into the following season.
        </li>
        <li>
            Are there spaces available for wheelchairs?<br />
            Absolutely, wheelchair bays are available at Spark Arena. To book spaces at either of these venues, 
            please contact our Membership team on 09 951 2534.
        </li>
        <li>
            What is a concession Membership?<br />  
            A concession Membership is for children aged 4-17 years or a person 65 years or older. 
            Please note that Concession Memberships are not available in all Membership categories.
        </li>
        <li>
            Do babies and toddlers require a Membership?<br />
            If your child is 3 years of age or under and not occupying a seat, you do not need to purchase a Membership for them.
        </li>
        <li>
            What is a family Membership?<br />
            A Family Membership consists of two Adult Memberships and two Concession Memberships. 
            Please note that Family Memberships are not available in all Membership categories.
        </li>
        <li>
            How do I renew my Membership?<br />
            Existing Members can renew online when the renewal period opens. 
            You must renew by the date specified to retain your existing seats. 
            Please keep an eye on our Member Newsletters 
            (if you’re not receiving these please contact our office immediately on 09 970 5260).
        </li>
        <li>
            Am I able to choose where I sit?<br />
            Yes, when you book your seats online you can use the interactive seat maps to see what seats are available at Spark Arena and book them there and then.
            Any seats booked by our Membership team will always be booked as best available unless instructed otherwise by you.
        </li>
        <li>
            I'm an existing Member, can I change my current location?<br />
            Yes, we will have an upgrade/seat change period where before new memberships go on sale,
            you can upgrade to a different category or change the location of your existing seats.
            You must confirm your existing seats online during the renewal process and once that period has closed,
            we will notify you by email when the upgrade/seat change period commences.
        </li>
        <li>
            Am I able to sit with my friends that have already purchased Memberships?<br />
            If you and your friends are new Members this season, that shouldn’t be a problem. 
            Please make mention when you submit your membership order of the people that you would like to sit with and we will seat you with them.
            If you are an existing Member you will need to do this in the upgrade/seat change period.
        </li>
        <li>
            Am I able to sit with my friends that have already purchased Memberships?<br />    
            If you and your friends are new Members this season, that shouldn’t be a problem. 
            Please make mention when you submit your membership order of the people that you would like to sit with and we will seat you with them.
            If you are an existing Member you will need to do this in the upgrade/seat change period.
        </li>
        <li>
            What if my friends are Members from the previous season?<br />
            It’s a little harder to sit you with people that are already current members as chances are they will have members sitting around them.
            Please make mention when you purchase your membership the name of the people that you would like to sit with and we will do our best to seat you 
            with them or as close to them as possible.
        </li>
        <li>
            Can friends or family come along and join us on the odd occasion?<br />
            It is unlikely that they would be able to sit with you as you will be surrounded by other members and it’s unlikely that there would be any seats available next to you.
            As we use an interactive seat map for each venue you will be able to check online what is available at each game and book them as close to you as possible that way.
        </li>
        <li>
            If I can't make a game can someone else use my membership in my place?<br />
            Yes, you can to give your membership card to someone else to use in your place.
            Please note that if this membership is a concession, they will need to meet the criteria that would allow them to enter the stadium i.e. 
            a photo ID may be asked for from anyone entering on a concession Membership.
        </li>
        <li>
            When and how will I receive my Membership pack?<br />
            All Membership packs will be couriered out in September (usually 2 weeks prior to the first home game).
        </li>
        <li>
            How can I pay for my Membership?<br />
            You will need to enter your payment details online when you complete your Membership application. 
            You will have the opportunity to pay your Membership in full or select to pay it in installments. 
            The number of installments available to you will depend on when you submit your Membership application.
        </li>
        <li>
            How do I get my playoff tickets?<br />
            During the regular season, you will receive information about the playoffs and how to secure your ticket(s). 
            You will be required to log in to your Breaker Nation account and confirm you want to book your existing seats for any potential playoff games prior to the start of the playoffs. 
            Your credit card will only be charged as the games are confirmed so will be charged one game at a time. 
            Your existing Membership card will be activated for the games you select.
        </li>
        <li>
            How can I get to and from Spark Arena?<br />
            Your Membership card and game ticket include travel on selected public transport services to and from Spark Arena on game day. 
            To see which services apply to you and when the travel is valid, please visit www.at.govt.nz.
        </li>
        <li>
            What happens if I lose my membership card?<br />
            If you lose your personalised Membership card there will be at cost of $10.00 to have it replaced.
            Please note that this may take up to 10 working days. Once ready you will be notified and able to collect it from the Ticket Collection window at the next home game.
            If we are not able to arrange the replacement card in time for the next home game, a paper ticket will be left for you at Ticket Collection.
            To arrange a replacement card please contact our office on 09 970 5260.
        </li>
        <li>
            Refund policy<br />
            Once your Membership application has been submitted, the SKY Sport Breakers are under no obligation to cancel your Membership 
            or provide a refund unless the situation is considered to be an exceptional circumstance. To submit an application for a cancellation or refund,
            please email it to diana.s@nzbreakers.co.nz for consideration.
        </li>
    </ol>


</body>
</html>
