@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = null;
}

@{
    Layout = "~/Views/Shared/MerchLayout.cshtml";

}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .button5 {
        border-radius: 35%;
    }
</style>

<html>
<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <img src="~/Images/tanktop.png" height="250" width="200" class="img" alt="Responsive image" />
                    <h6>*not actual singlet</h6>
                </th>
                <th scope="col">
                    <h1>
                        OFFICIAL SUPPORTERS SINGLET | ADULT |
                    </h1>
                    <h5>
                        $69.50<br />
                        Tax included.
                    </h5>
                    <fieldset>
                        <legend>Colour </legend>
                        <div><label> <input type=radio name=size> Black </label></div>
                        <div><label> <input type=radio name=size> Purple/Pink </label></div>
                        <div><label> <input type=radio name=size> White </label></div>
                    </fieldset>
                    <fieldset>
                        <legend>Size </legend>
                        <div><label> <input type=radio name=size> S </label></div>
                        <div><label> <input type=radio name=size> M </label></div>
                        <div><label> <input type=radio name=size> L </label></div>
                        <div><label> <input type=radio name=size> XL </label></div>
                        <div><label> <input type=radio name=size> 2XL </label></div>
                        <div><label> <input type=radio name=size> 3XL </label></div>
                    </fieldset>

                    <h1><a href="#" class="button button2">ADD TO CART</a></h1>
                </th>
            </tr>
        </thead>
    </table>
</body>
</html>