@{
}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<html>
<body>
    <table class="table">
  <thead>
    <tr>
        <th scope="col"><img src="~/Images/majok.png" class="img-fluid" width="450" height="500" alt="Ater"></th>
      <th scope="col"><h4> # 33 CENTER </h4></th>
      <th scope="col">NBL Games Played: 29</th>
      <th scope="col">Height: 208 cms</th>
      <th scope="col">Weight: 105 kgs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>twitter</td>
    </tr>
  </tbody>
</table>
        <div>
            <h3> Brandon Ashley</h3>
            <h4> #  </h4>
            <p>
                NBL Games Played: 28<br />
                Height: 201 cms<br />
                Weight: 104 kgs
            </p>
        </div>
        <div>
            <h3> Corey Webster </h3>
            <h4> # 9 GAURD </h4>
            <p>
                NBL Games Played: 197<br />
                Height: 188 cms<br />
                Weight: 89 kgs
            </p>
        </div>
        <div>
            <h3> Deng Deng </h3>
            <h4> # 45  FORWARD </h4>
            <p>
                NBL Games Played: 3<br />
                Height: 203 cms<br />
                Weight: 100 kgs
            </p>
        </div>
    </div>
    <!-- Second Photo Grid-->
    <div>
        <div>
            <h3> Ethan Rusbatch </h3>
            <h4> # 12 FORWARD </h4>
            <p>
                NBL Games Played: 22<br />
                Height: 196 cms<br />
                Weight: 100 kgs
            </p>
        </div>
        <div>
            <h3> Finn Delany </h3>
            <h4> # 33 CENTER </h4>
            <p>
                NBL Games Played: 109<br />
                Height: 200 cms<br />
                Weight: 107 kgs
            </p>
        </div>
        <div>
            <h3> Jarrad Weeks </h3>
            <h4> # 97 GAURD </h4>
            <p>
                NBL Games Played: 167<br />
                Height: 183 cms<br />
                Weight: 80 kgs
            </p>
        </div>
        <div>
            <h3> Jordon Ngatai </h3>
            <h4> # 20 Forward </h4>
            <p>
                NBL Games Played: 69<br />
                Height: 196 cms<br />
                Weight: 100 kgs
            </p>
        </div>
    </div>

    <!-- Third Photo Grid-->
    <div>
        <div>
            <h3> RJ Hampton </h3>
            <h4> # 14 GAURD </h4>
            <p>
                NBL Games Played: 19<br />
                Height: 198 cms<br />
                Weight: 80 kgs
            </p>
        </div>
        <div>
            <h3> Robert Loe </h3>
            <h4> # 15 CENTER </h4>
            <p>
                NBL Games Played: 112<br />
                Height: 211 cms<br />
                Weight: 115 kgs
            </p>
        </div>
        <div>
            <h3> Scotty Hopson  </h3>
            <h4> # 1 FORWARD </h4>
            <p>
                NBL Games Played: 24<br />
                Height: 201 cms<br />
                Weight: 98 kgs
            </p>
        </div>
        <div>
            <h3> Seketoure Henry </h3>
            <h4> # 22 GAURD </h4>
            <p>
                NBL Games Played: 29<br />
                Height: 193 cms<br />
                Weight: 90 kgs
            </p>
        </div>
    </div>
    <!-- Forth Photo Grid-->
    <div>
        <div>
            <h3> Terry Lee </h3>
            <h4> # 0 GAURD </h4>
            <p>
                NBL Games Played: 3<br />
                Height: 190 cms<br />
                Weight: 85 kgs
            </p>
        </div>
        <div>
            <h3> Thomas Vodanovich </h3>
            <h4> # 13 FORWARD </h4>
            <p>
                NBL Games Played: 28<br />
                Height: 201 cms<br />
                Weight: 104 kgs
            </p>
        </div>
        <div>
            <h3> Tom Abercrombie </h3>
            <h4> # 10 FORWARD </h4>
            <p>
                NBL Games Played: 308<br />
                Height: 198 cms<br />
                Weight: 90 kgs
            </p>
        </div>
    </div>

</body>
</html>

