@{
}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
<body>
   <!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR TEAM</h2>
<p>Meet the team:</p>

<div class="w3-row"><br>
<div class="w3-quarter">
  <img src="~/Images/Majok.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Ater Majok <h3>
  <p> </p>
</div>

<div class="w3-quarter">
  <img src="~/Images/Webster.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Corey Webster</h3>
  <p>#9 Guard</p>
</div>

<div class="w3-quarter">
  <img src="~/Images/FinnDelany2.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Finn Delany</h3>
  <p>#3 Forward </p>
</div>

<div class="w3-quarter">
  <img src="~/Images/Weeks.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Jarrad Weeks </h3>
  <p>#97 Guard</p>
</div>
</div>


<div class="w3-row"><br>
<div class="w3-quarter">
  <img src="~/Images/JordanNgatai2.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Jordan Ngatai</h3>
  <p> </p>
</div>

<div class="w3-quarter">
  <img src="~/Images/Hampton.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>RJ Hampton </h3>
  <p></p>
</div>

<div class="w3-quarter">
  <img src="~/Images/RobLoe2.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Robert Loe</h3>
  <p>#15 Centre</p>
</div>

<div class="w3-quarter">
  <img src="~/Images/Hopson.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Scotty Hopson</h3>
  <p></p>
</div>
</div>

<div class="w3-row"><br>
<div class="w3-quarter">
  <img src="~/Images/TomVodanovich1.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Tom Vodanovich</h3>
  <p></p>
</div>
<div class="w3-quarter">
  <img src="~/Images/TomAbercrombie2.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Tom Abercrombie</h3>
  <p>#10 Forward</p>
</div>
</div>
</body>
</html>

