@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
<body>
    <h4>TERMS AND CONDITIONS</h4>
    <h5>Please read carefully before purchasing Skysport Breakers membership</h5>
    <ol>
        <li>
            Member means a person who purchases a Membership from Breakers Basketball Limited; and who is entitled entry into Spark Arena
            if the person is the holder of that Membership; and who is recorded by Breakers Basketball Limited as having the right to
            exercise specific rights associated with the Membership (for example any right of renewal or priority (if any) that may be
            granted in respect of that Membership); and to whom any correspondence about the Membership will be addressed and Membership
            shall have a corresponding meaning.
        </li>
        <li>
            Membership means a ticket that admits a Member to 4 or more of the 10 2019-2020 regular season home games in the Australian
            NBL Championship held at Spark Arena.
        </li>
        <li>
            Membership does not include any games played during preseason, out of Auckland or Finals games.
        </li>
        <li>
            Any unused “game credits” from our Flexi Membership options cannot be used for games other than those played in the 2019-2020
            regular season. They cannot carry over to finals, preseason or 2020-2021 games.
        </li>
        <li>
            Breakers Basketball Limited may allow payment for Membership to be made in installments. Member agrees to pay the installments
            at the agreed payment frequency until all obligations have been met or until Membership is terminated under this contract.
            <ol style="list-style-type: lower-roman;">
                <li>
                    Any failure to make an installment payment by the due date will incur a further
                    $10 administration fee. All fees must be paid before the Membership will be issued.
                </li>
            </ol>
        </li>
        <li>
            Breakers Basketball Limited shall determine, solely at its discretion, the closing dates for orders of Memberships and
            whether such Memberships become available.
        </li>
        <li>
            Breakers Basketball Limited reserves the right to on-sell membership seats for additional fixtures
            (such as semi-finals and finals) in any event where the membership seat has not been booked or paid
            for by the deadline specified.
        </li>
        <li>
            Subject to the compliance with the Consumer Guarantees Act 1993, Memberships cannot be exchanged,
            transferred, refunded or returned after purchased.
        </li>
        <li>
            Membership entitles one person only (being the Member or his/her nominee) entry into Spark Arena
            for a Breakers regular season home game at any one time. If requested by security staff, usher or
            Breakers Basketball Staff Member, the Member or his/her nominee, shall have available for inspection
            their membership card(s) or relevant ticket(s).
        </li>
        <li>
            The Member(s) is responsible for the Membership Card(s) at all times. Any other person(s) using the
            Membership Card(s) must be aware of all the responsibilities and limitations of the card and must
            comply with the terms and conditions of use where relevant.
        </li>
        <li>
            Lost or stolen cards must be reported to Breakers Basketball Limited, 09 970 5272. To ensure entry
            to the next home games these must be reported at least 48 hours prior to the gates opening. A
            replacement card fee of $10.00 will be charged per card and must be paid before the new card
            will be issued.
        </li>
        <li>
            Allocation of seats is solely at the discretion of Breakers Basketball Limited.
        </li>
        <li>
            Membership holders are requested to advise security staff or ushers of any unauthorized
            person(s) sitting in their allocated seat(s) for designated fixtures.
        </li>
        <li>
            Right of admission to Spark Arena is subject to regulation. These regulations
            are available for viewing at www.sparkarena.co.nz
        </li>
        <li>
            Members or their nominees must leave the game day venue when requested to do
            so by stadium or security staff
        </li>
        <li>
            Breakers Basketball Limited reserves the right not to renew any individual’s
            Membership, at the sole discretion of Breakers Basketball Limited and /or to
            discontinue the Membership at any point in the future. All rights to Membership
            will cease immediately should a Member fail to renew their Membership by the due
            date.
        </li>
        <li>
            Membership Cards remain the property of Breakers Basketball Limited and the Member
            may not sell their rights or the use of the card to any third party. If the
            Membership is cancelled or forfeited for any reason, the Member must return
            their Membership Card to Breakers Basketball Limited.
        </li>
        <li>
            Breakers Basketball Limited reserves the right to vary, substitute, withdraw
            or reschedule any advertised games. It may also cancel, stop or interrupt any
            game for safety considerations beyond its control.
        </li>
        <li>
            All Members paying via credit card (VISA, MasterCard or American Express) or
            debit credit card backed by VISA or MasterCard, regardless of type of membership
            package, payment method (upfront or installments) or method used to join or renew,
            agree that as condition of membership that their membership will be treated to
            Automatic Rollover, also referred to as 'Rolling Renewals' or ‘Rollover'.
            Memberships will be automatically rolled over and renewed from year to year
            on these terms and conditions as varied from time to time by Breakers Basketball
            Limited.
            <ol style="list-style-type: lower-roman;">
                <li>
                    Membership will be automatically renewed into the same package(s)
                    and seat(s) for subsequent seasons, at the updated and relevant price,
                    using the same payment details as the previous season, unless:
                    <ol style="list-style-type: lower-roman;">
                        <li>
                            Otherwise advised by the Member by the Rollover Date, and
                        </li>
                        <li>
                            The Member follows the instructions in the Rollover
                            Correspondence for discontinuing the Rollover.
                        </li>
                    </ol>
                <li>
                    If multiple credit cards were used across multiple membership
                    applications, it is the responsibility of the Member to contact
                    Breakers Basketball Limited to ensure the rollover is charged to
                    their preferred credit card otherwise Breakers Basketball Limited
                    will apply the credit card details accepted in the previous year.
                </li>
                <li>
                    Prior to the Rollover Date, all Primary Account Holders will receive
                    Rollover Correspondence via email to the email address supplied by the
                    Member. From receipt of the Rollover Correspondence Members who do not
                    wish to continue their membership have fourteen (14) days within which
                    they can give notice to Breakers Basketball Limited they will not be
                    continuing their membership ("the Opt-Out Period") by following the
                    Opt-Out procedure outlined in the Rollover Correspondence. It is
                    important for all Members to check they have a registered email
                    address on their account to ensure this communication is received.
                </li>
                <li>
                    Prior to the Rollover Date, Members must notify Breakers Basketball
                    Limited if they wish to Opt-Out by following the instructions provided
                    in the Rollover Correspondence (strict deadlines apply).
                </li>
            </ol>
        <li>
            Personal information may be gathered and stored in accordance with the Privacy
            Act 1993 to identify the Member, for administration and to allow Breakers
            Basketball Limited to advise the Member of upcoming events. Provision of such
            information is a condition of purchasing a Membership. Members have the right
            to access and correct their personal information at any time.
        <li>
            Breakers Basketball Limited reserves the right to amend these terms and conditions
            at any time. Such changes will be recorded on their website and take effect
            immediately.
        </li>
        <li>
            A breach of these conditions may result in Breakers Basketball Limited cancelling
            or forfeiting the rights of Membership without refund, at their sole discretion.
            Breakers Basketball Limited retains the right to forfeit Membership in the event
            of, but not limited to the following circumstances: A breach of these terms and
            conditions
            <ol style="list-style-type: lower-roman;">
                <li>
                    Outstanding monies owed for Membership and/or other designated fixtures
                    (example Finals games)
                </li>
                <li>
                    Foul, abusive or offensive language
                </li>
                <li>
                    Offensive Behaviour
                </li>
                <li>
                    A breach of these terms and conditions
                </li>
            </ol>
        <li>
            To the extent permitted by law, Basketball Limited shall not be liable or
            responsible to the Member for any direct, indirect or consequential injury,
            loss or damage to the Member or the property of the Member whatsoever and
            howsoever arising. Nothing in this clause is intended to have the effect of
            contracting out of the Consumer Guarantees Act 1993 except to the extent permitted
            by that Act.
        <li>
            Any concerns or comments should be addressed to:<br />
            NZ Breakers Basketball Membership Manager<br />
            PO Box 302-854<br />
            North Harbour, North Shore, 0751, Auckland<br />
            Ph: 09 970 5272
        </li>
    </ol>
</body>
</html>