@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<html>
<body>
    <h4> 2019/20 Awards Night | Sky Sport Breakers </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/videoseries?list=PLqQ0AjTqThE9Vj7nn0feRQy_LbPqvBGLP" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers Awards Night | NBL20 | Defensive Player Of The Year | Tom Abercrombie</h6>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/6J4FV2kCOJA" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers Awards Night | NBL20 | Blackwell Community Cup | Rashid Al-Kaleem</h6>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/DHgaHsYUxIs" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers Awards Night | NBL20 | Members MVP | Scotty Hopson</h6>
                </th>
            </tr>
            <tr>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/pi4VRRnC7Mk" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers Awards Night | NBL20 | Clubman Of The Year | Simon Edwards</h6>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/_gN-2EiGlh0" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers vs Carins Taipans | NBL20 | 9 January 2020 | Full Time Highlights</h6>
                </th>
            </tr>
        </thead>
    </table>
    <h4> Match highlights </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/MmCWtnEfBHQ" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers vs Carins Taipans | NBL20 | 5 January 2020 | Full Time Highlights</h6>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/-EQcKzkulxI" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers vs Carins Taipans | NBL20 | 9 January 2020 | Full Time Highlights</h6>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/LRp2TFMaEeU" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers vs Carins Taipans | NBL20 | 17 January 2020 | Full Time Highlights</h6>
                </th>
            </tr>
            <tr>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/znHmp9owy2c" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers vs Adelaide 36ers | NBL20 | 31 January 2020 | Full Time Highlights</h6>
                </th>
                <th scope="col">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/RduBZzGmlxQ" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h6>Sky Sport Breakers vs Brisbane Bullets | NBL20 | 7 February 2020 | Full Time Highlights</h6>
                </th>
              </tr>
        </thead>
    </table>
</body>
</html>